	<div class="container" dir="ltr" style="background: #fff;margin-top: 30px; margin-bottom: 30px; padding: 20px 8em; overflow: hidden;">
		<div class="col-md-4">
			<img src="https://apps.na.collabserv.com/files/form/api/library/4c83f082-9153-4426-a224-686291f2b721/document/02fdbee7-1313-45da-8b2a-92513f3c15a1/media/avatar.png?logDownload=true&downloadType=view&versionNum=1" alt="">
			<h3 class="NamePeople">USER</h3>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<h2 style="margin-bottom:40px">Trabajo Colaborativo</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="padding-right: 30px; text-align: justify;">

					</p>
				</div>
			</div>
		</div>
	</div>
